<div>
    <h2>
        <span jhiTranslate="sfi2App.supplyType.home.title">Supply Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-supply-type" [routerLink]="['/', { outlets: { popup: ['supply-type-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sfi2App.supplyType.home.createLabel">
            Create new Supply Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="supplyTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sfi2App.supplyType.name">Name</span></th>
            <th><span jhiTranslate="sfi2App.supplyType.stAttribute">St Attribute</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let supplyType of supplyTypes ;trackBy: trackId">
                <td><a [routerLink]="['../supply-type', supplyType.id ]">{{supplyType.id}}</a></td>
                <td>{{supplyType.name}}</td>
                <td>
                    <span *ngFor="let stAttribute of supplyType.stAttributes; let last = last">
                            <a class="form-control-static" [routerLink]="['../st-attribute', stAttribute?.id ]">{{stAttribute.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../supply-type', supplyType.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'supply-type/'+ supplyType.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'supply-type/'+ supplyType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
