<div class="row table-header" >
    <div class="col-md-4">
        {{'product'|translate}}
    </div>
    <div class="col-md-2">
        {{'width'|translate}}
    </div>
    <div class="col-md-2">
        {{'height'|translate}}
    </div>
    <div class="col-md-2">
        {{'quantity'|translate}}
    </div>
    <div class="col-md-2 pull-right">
    </div>
</div>
<div class="row" *ngFor="let manufacturingOrderProduct of manufacturingOrderProducts" >
    <div class="col-md-4">
        {{manufacturingOrderProduct.product.code}}
    </div>
    <div class="col-md-2">
        {{manufacturingOrderProduct.width}}
    </div>
    <div class="col-md-2">
        {{manufacturingOrderProduct.height}}
    </div>
    <div class="col-md-2">
        {{manufacturingOrderProduct.quantity}}
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-secondary fa fa-trash pull-right" (click)="remove(manufacturingOrderProduct)"></button>
        <button type="button" class="btn btn-secondary fa fa-pencil pull-right" (click)="edit(manufacturingOrderProduct)"></button>
    </div>
</div>