<div class="card">
    <div class="card-header">
        {{'maufacturingOrderProduct'}}
        <button type="button" class="btn btn-secondary pull-right fa fa-check" (click)="saveManufacturingOrderProduct(manufacturingOrderProducts)"></button>
    </div>
    <div class="card-block">
        <div class="container-fluid">
            <app-manufacturing-order-product-detail [inputManufacturingOrderProduct]="selectedManufacturingOrderProduct" (outputManufacturingOrderProduct)="addManufacturingOrderProduct($event)"></app-manufacturing-order-product-detail>
            <app-manufacturing-order-product-list [inputManufacturingOrderProducts]="manufacturingOrderProducts" (outputManufacturingOrderProducts)="setSelectedManufacturingOrderProduct($event)"></app-manufacturing-order-product-list>
        </div>
    </div>
</div>
