<div class="card">
  <app-message [message]="message"></app-message>
  <div class="card-block">
    <h5 class="card-title">{{'product-types'|translate}}</h5>
    <hr/>
    <div class="container-fluid">
      <div class="row table-header">
          <div class="col-md-2">
              {{'code'|translate}}
          </div>
          <div class="col-md-2">
              {{'name'|translate}}
          </div>
          <div class="col-md-6">
              {{'description'|translate}}
          </div>
          <div class="col-ms-2 pull-right">
            <button type="button" class="btn btn-secondary fa fa-plus" (click)="create()"></button>
          </div>
      </div>
      <div class="row table-content" *ngFor="let productType of productTypes" >
        <div class="col-md-2">
          {{productType.code}}
        </div>
        <div class="col-md-2">
          {{productType.name}}
        </div>
        <div class="col-md-6">
          {{productType.description}}
        </div>
        <div class="col-ms-2 pull-right">
          <button type="button" class="btn btn-secondary fa fa-trash" (click)="remove(productType)"></button>
          <button type="button" class="btn btn-secondary fa fa-pencil" (click)="edit(productType)"></button>
        </div>
      </div>
    </div>
  </div>
</div>