<div class="card">
    <app-message [message]="message"></app-message>
    <div class="card-block">
        <h6 class="card-title">{{'users'|translate}}</h6>
        <hr/>
        <app-message [message]="message"></app-message>
        <div class="container-fluid">
            <div class="form-group row">
                <label for="dropdownUser">{{'user'|translate}}</label>
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-secondary" id="dropdownUser" ngbDropdownToggle>{{selectedUser.name}}</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownUser" >
                        <button class="dropdown-item" *ngFor="let user of users" (click)="selectedUser = user" >{{user.name}}</button>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary pull-right fa fa-plus" 
                    [attr.disabled]="selectedUser.name === '' ? true : null" 
                    (click)="add(selectedUser)"></button>
            </div>
            <hr/>
            <div class="row table-content" *ngFor="let selectedUser of selectedUsers" >
                <div class="col-md-8">
                    {{usersById[selectedUser].name}}
                </div>
                <div class="col-md-4 pull-right">
                    <button type="button" class="btn btn-secondary fa fa-trash" (click)="remove(selectedUser)"></button>
                </div>
            </div>
        </div>
    </div>
</div>
