<div class="card">
    <div class="card-header">
        {{'roles'|translate}}
        <button type="button" class="btn btn-secondary pull-right fa fa-plus" (click)="create()"></button>
    </div>
    <app-message [message]="message"></app-message>
    <div class="card-block">
        <div class="container-fluid">
            <div class="row table-header">
                <div class="col-md-2">
                    {{'id'|translate}}
                </div>
                <div class="col-md-3">
                    {{'name'|translate}}
                </div>
                <div class="col-md-3">
                    {{'description'|translate}}
                </div>
                <div class="col-ms-2 pull-right">
                </div>
            </div>
            <div class="row table-content" *ngFor="let role of roles">
                <div class="col-md-2">
                    {{role.id}}
                </div>
                <div class="col-md-3">
                    {{role.name}}
                </div>
                <div class="col-md-3">
                    {{role.description}}
                </div>
                <div class="col-ms-2 pull-right">
                    <button type="button" class="btn btn-secondary fa fa-trash" (click)="remove(role)"></button>
                    <button type="button" class="btn btn-secondary fa fa-pencil" (click)="edit(role)"></button>
                </div>
            </div>
        </div>
    </div>
</div>
