<div class="card">
    <div class="card-header">
        {{'product-types'|translate}}
    </div>
    <div class="card-block">
        <div class="container-fluid">
            <div class="form-group row">
                <label for="dropdownProductType">{{'product-type'|translate}}</label>
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownProductType" ngbDropdownToggle>{{selectedProductType.name}}</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownProductType" >
                        <button class="dropdown-item" *ngFor="let productType of productTypes" (click)="selectedProductType = productType" >{{productType.name}}</button>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary pull-right fa fa-plus" (click)="add(selectedProductType)"></button>
            </div>
            <div class="row table-header" >
                <div class="col-md-8">
                    {{'name'|translate}}
                </div>
                <div class="col-ms-4 pull-right">
                </div>
            </div>
            <div class="row table" *ngFor="let selectedProductType of selectedProductTypes" >
                <div class="col-md-8">
                    {{selectedProductType.name}}
                </div>
                <div class="col-ms-4 pull-right">
                    <button type="button" class="btn btn-secondary fa fa-trash" (click)="remove(selectedProductType)"></button>
                </div>
            </div>
        </div>
    </div>
</div>
