<div class="card">
    <div class="card-block">
        <h5 class="card-title"><i class="fa fa-group"></i> {{'role'|translate}}</h5>
        <hr/>
        <app-message [message]="message"></app-message>
        <div class="container-fluid">
            <div class="form-group row">
                <label for="name" class="col-md-2 col-form-label">{{'name'|translate}}</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="name" [(ngModel)]="role.name" placeholder="{{'name'|translate}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-md-2 col-form-label">{{'description'|translate}}</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="description" [(ngModel)]="role.description" placeholder="{{'description'|translate}}">
                </div>
            </div>

            <div class="card">
                <div class="card-block">
                    <h6 class="card-title">{{'routes'|translate}}</h6>
                    <hr/>
                    <div class="container-fluid">
                        <div class="form-group row">
                            <label for="route" class="col-md-2 col-form-label">{{'route'|translate}}</label>
                            <div ngbDropdown class="d-inline-block col-md-8">
                                <button class="btn btn-secondary" id="dropdownRole" ngbDropdownToggle>{{selectedRoute.route}}</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownRole" >
                                    <button class="dropdown-item" *ngFor="let route of routes" (click)="selectedRoute = route" >{{route.route}}</button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-secondary pull-right fa fa-plus" 
                                    [attr.disabled]="selectedRoute.route === '' ? true : null" 
                                    (click)="add(selectedRoute)"></button>
                            </div>
                        </div>
                        <hr/>
                        <div class="row table-content" *ngFor="let route of role.routes" >
                            <div class="col-md-4">
                                {{route.route}}
                            </div>
                            <div class="col-md-4">
                                {{route.description}}
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-secondary fa fa-trash pull-right" (click)="remove(route)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-secondary pull-right fa fa-check" (click)="save()"></button>
                    <button type="button" class="btn btn-secondary pull-right fa fa-close" (click)="back()"></button>
                </div>
            </div>
        </div>
    </div>
</div>