
<div *ngIf="workStation">
    <h2><span jhiTranslate="sfi2App.workStation.detail.title">Work Station</span> {{workStation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sfi2App.workStation.name">Name</span></dt>
        <dd>
            <span>{{workStation.name}}</span>
        </dd>
        <dt><span jhiTranslate="sfi2App.workStation.shortName">Short Name</span></dt>
        <dd>
            <span>{{workStation.shortName}}</span>
        </dd>
        <dt><span jhiTranslate="sfi2App.workStation.ip">Ip</span></dt>
        <dd>
            <span>{{workStation.ip}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'work-station/'+ workStation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
