<div>
    <h2>
        <span jhiTranslate="lineGatewayApp.delay.home.title">Delays</span>
        <button class="btn btn-primary float-right create-delay" [routerLink]="['/', { outlets: { popup: ['delay-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="lineGatewayApp.delay.home.createLabel">
            Create new Delay
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="delays">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span jhiTranslate="lineGatewayApp.delay.startDate">Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endDate"><span jhiTranslate="lineGatewayApp.delay.endDate">End Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="time"><span jhiTranslate="lineGatewayApp.delay.time">Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="lineGatewayApp.delay.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="delayType.id"><span jhiTranslate="lineGatewayApp.delay.delayType">Delay Type</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let delay of delays ;trackBy: trackId">
                <td><a [routerLink]="['../delay', delay.id ]">{{delay.id}}</a></td>
                <td>{{delay.startDate | date:'mediumDate'}}</td>
                <td>{{delay.endDate | date:'mediumDate'}}</td>
                <td>{{delay.time}}</td>
                <td>{{delay.description}}</td>
                <td>
                    <div *ngIf="delay.delayType">
                        <a [routerLink]="['../delay-type', delay.delayType?.id ]" >{{delay.delayType?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../delay', delay.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'delay/'+ delay.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'delay/'+ delay.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="delays && delays.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
