<div class="row" >
    <div class="col-md-4">
        <strong>{{'product'}}</strong>
    </div>
    <div class="col-md-2">
        <strong>{{'width'}}</strong>
    </div>
    <div class="col-md-2">
        <strong>{{'height'}}</strong>
    </div>
    <div class="col-md-2">
        <strong>{{'quantity'}}</strong>
    </div>
    <div class="col-ms-2 pull-right">
    </div>
</div>
<div class="row" *ngFor="let manufacturingOrderProduct of manufacturingOrderProducts" >
    <div class="col-md-4">
        {{manufacturingOrderProduct.product.code}}
    </div>
    <div class="col-md-2">
        {{manufacturingOrderProduct.width}}
    </div>
    <div class="col-md-2">
        {{manufacturingOrderProduct.height}}
    </div>
    <div class="col-md-2">
        {{manufacturingOrderProduct.quantity}}
    </div>
    <div class="col-ms-3 pull-right">
        <button type="button" class="btn btn-secondary fa fa-trash" (click)="remove(manufacturingOrderProduct)"></button>
        <button type="button" class="btn btn-secondary fa fa-pencil" (click)="edit(manufacturingOrderProduct)"></button>
    </div>
</div>