/* You can add global styles to this file, and also import other style files */
body {
	font-size: 0.9rem !important;
}

.form-control {
	font-size: 0.9rem !important;
}

.table.header{
	background-color:#eceeef;
	font-weight: bold;
}