/* You can add global styles to this file, and also import other style files */
body {
	font-size: 0.9rem !important;
}

.form-control {
	font-size: 0.9rem !important;
}

.table-header{
	background-color: #f5f5f5;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
    padding: .75rem;
}

.table-content{
	border-bottom: 1px solid #eceeef;
	padding: .75rem;
	vertical-align: middle;
}
