<div class="row table-header" >
    <div class="col-md-4">
        {{'start-date'|translate}}
    </div>
    <div class="col-md-4">
        {{'end-date'|translate}}
    </div>
    <div class="col-md-2">
        {{'time'|translate}}
    </div>
    <div class="col-md-2">
        {{'delay-type'|translate}}
    </div>
</div>
<div class="row table-content" *ngFor="let delay of delays" >
  <div class="col-md-4">
    {{delay.startTime | date : "dd-MM-yyyy hh:mm a" }}
  </div>
  <div class="col-md-4">
    {{delay.endTime | date : "dd-MM-yyyy hh:mm a" }}
  </div>
  <div class="col-md-4">
    {{delay.time}}
  </div>
  <div class="col-md-2">
    {{delay.delayType.description}}
  </div>
</div>