

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMOCustomProductLabel" jhiTranslate="lineGatewayApp.mOCustomProduct.home.createOrEditLabel">Create or edit a MO Custom Product</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!mOCustomProduct.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="mOCustomProduct.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lineGatewayApp.mOCustomProduct.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="mOCustomProduct.description"
            required />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="lineGatewayApp.mOCustomProduct.mOProduct" for="field_mOProduct">M O Product</label>
            <select class="form-control" id="field_mOProduct" multiple name="mOProduct" [(ngModel)]="mOCustomProduct.mOProducts">
                <option [ngValue]="getSelected(mOCustomProduct.mOProducts, mOProductOption)" *ngFor="let mOProductOption of moproducts; trackBy: trackMOProductById">{{mOProductOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
