<div class="card">
  <div class="card-block">
    <h5 class="card-title">{{'delay-types'|translate}}</h5>
    <hr/>
    <app-message [message]="message"></app-message> 
    <div class="container-fluid">
      <div class="row table-header" >
          <div class="col-md-2">
              {{'code'|translate}}
          </div>
          <div class="col-md-8">
              {{'description'|translate}}
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-secondary pull-right fa fa-plus" (click)="create()"></button>
          </div>
      </div>
      <div class="row table-content" *ngFor="let delayType of delayTypes" >
        <div class="col-md-2">
          {{delayType.code}}
        </div>
        <div class="col-md-8">
          {{delayType.description}}
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-secondary fa fa-trash pull-right" (click)="remove(delayType)"></button>
          <button type="button" class="btn btn-secondary fa fa-pencil pull-right" (click)="edit(delayType)"></button>
        </div>
      </div>
    </div>
  </div>
</div>