<div class="row table header" >
    <div class="col-md-2">
        <strong>{{'description'|translate}}</strong>
    </div>
    <div class="col-md-8">
        <strong>{{'products'|translate}}</strong>
    </div>
    <div class="col-ms-2 pull-right">
    </div>
</div>
<div class="row table" *ngFor="let manufacturingOrderCustomProduct of manufacturingOrderCustomProducts" >
    <div class="col-md-2">
        {{manufacturingOrderCustomProduct.description}}
    </div>
    <div class="col-md-8">
        {{manufacturingOrderCustomProduct.products}}
    </div>
    <div class="col-ms-2 pull-right">
        <button type="button" class="btn btn-secondary fa fa-trash" (click)="remove(manufacturingOrderCustomProduct)"></button>
        <button type="button" class="btn btn-secondary fa fa-pencil" (click)="edit(manufacturingOrderCustomProduct)"></button>
    </div>
</div>