<div *ngIf="showMessage(1)" class="alert alert-success" role="alert">
  <strong>{{'success'|translate}}:</strong> {{message.message | translate}}
</div>
<div *ngIf="showMessage(2)" class="alert alert-info" role="alert">
  <strong>{{'info'|translate}}:</strong> {{message.message | translate}}
</div>
<div *ngIf="showMessage(3)" class="alert alert-warning" role="alert">
  <strong>{{'warning'|translate}}:</strong> {{message.message | translate}}
</div>
<div *ngIf="showMessage(4)" class="alert alert-danger" role="alert">
  <strong>{{'error'|translate}}:</strong> {{message.message | translate}}
</div>
