<div class="row table-header">
    <div class="col-md-2">
        {{'work-station'|translate}}
    </div>
    <div class="col-md-4">
        {{'start'|translate}}
    </div>
    <div class="col-md-2">
        {{'end'|translate}}
    </div>
    <div class="col-md-2">
        {{'time'|translate}}
    </div>
    <div class="col-md-2">
        {{'delay-type'|translate}}
    </div>
</div>
<div class="row table-content" *ngFor="let workStationConfiguration of workStationConfigurations">
    <div class="row table-content" *ngFor="let delay of workStationConfiguration.delays">
        <div class="col-md-2">
            {{workStationConfiguration.workStation.name}}
        </div>
        <div class="col-md-4">
            {{delay.startTime | date : "yyyy-MM-dd" }} - {{delay.startTime | date : "hh:mm a" }}
        </div>
       	<div class="col-md-2">
            {{delay.endTime | date : "yyyy-MM-dd" }} - {{delay.endTime | date : "hh:mm a" }}
        </div>
        <div class="col-md-2">
            {{delay.time}}
        </div>
        <div class="col-md-2">
            {{delay.delayType.description}}
        </div>
    </div>
</div>
