<div class="card">
    <div class="card-header">
        {{'work-station'|translate}}
        <button type="button" class="btn btn-secondary pull-right fa fa-check" (click)="save()"></button>
    </div>
    <app-message [message]="message"></app-message>
    <div class="card-block">
        <div class="container-fluid">
            <div class="form-group row">
                <label for="name" class="col-xs-2 col-form-label">{{'name'|translate}}</label>
                <div class="col-xs-10">
                    <input class="form-control" type="search" id="name" [(ngModel)]="workStation.name" placeholder="{{'name'|translate}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="ip" class="col-xs-2 col-form-label">{{'ip'|translate}}</label>
                <div class="col-xs-10">
                    <input class="form-control" type="search" id="ip" [(ngModel)]="workStation.ip" placeholder="{{'192.168.1.1'}}">
                </div>
            </div>
        </div>
    </div>
</div>