<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">{{'title'|translate}}</a>
    <ul class="nav navbar-nav pull-right">
        <div ngbDropdown class="dropdown nav-item">
            <a href="javascript:;" id="dropdownTopbar" class="nav-link dropdown-toggle" ngbDropdownToggle>
                <i class="fa fa-user"></i> {{'Jhon Smith'|translate}}<b class="caret"></b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownTopbar">
                <li>
                    <a class="dropdown-item" href="javascript:;"><i class="fa fa-fw fa-user"></i> {{'profile'|translate}}</a>
                </li>
                <!--
                <li>
                    <a class="dropdown-item" href="javascript:;"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                </li>
                <li>
                    <a class="dropdown-item" href="javascript:;"><i class="fa fa-fw fa-gear"></i> Settings</a>
                </li>
                -->
                <li class="divider"></li>
                <li>
                    <a class="dropdown-item" href="javascript:;" [routerLink]="['/']">
                        <i class="fa fa-fw fa-power-off"></i> {{'log-out'|translate}}
                    </a>
                </li>
            </ul>
        </div>
        
    </ul>
</nav>
