
<div *ngIf="supply">
    <h2><span jhiTranslate="sfi2App.supply.detail.title">Supply</span> {{supply.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sfi2App.supply.name">Name</span></dt>
        <dd>
            <span>{{supply.name}}</span>
        </dd>
        <dt><span jhiTranslate="sfi2App.supply.supplyType">Supply Type</span></dt>
        <dd>
            <div *ngIf="supply.supplyType">
                <a [routerLink]="['/supply-type', supply.supplyType?.id]">{{supply.supplyType?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'supply/'+ supply.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
