<div>
    <h2>
        <span jhiTranslate="sfi2App.mOProduct.home.title">MO Products</span>
        <button class="btn btn-primary float-right jh-create-entity create-mo-product" [routerLink]="['/', { outlets: { popup: ['mo-product-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sfi2App.mOProduct.home.createLabel">
            Create new MO Product
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="mOProducts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sfi2App.mOProduct.quantity">Quantity</span></th>
            <th><span jhiTranslate="sfi2App.mOProduct.manufacturingOrder">Manufacturing Order</span></th>
            <th><span jhiTranslate="sfi2App.mOProduct.product">Product</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mOProduct of mOProducts ;trackBy: trackId">
                <td><a [routerLink]="['../mo-product', mOProduct.id ]">{{mOProduct.id}}</a></td>
                <td>{{mOProduct.quantity}}</td>
                <td>
                    <div *ngIf="mOProduct.manufacturingOrder">
                        <a [routerLink]="['../manufacturing-order', mOProduct.manufacturingOrder?.id ]" >{{mOProduct.manufacturingOrder?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mOProduct.product">
                        <a [routerLink]="['../product', mOProduct.product?.id ]" >{{mOProduct.product?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../mo-product', mOProduct.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mo-product/'+ mOProduct.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mo-product/'+ mOProduct.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
