<div>
    <h2>
        <span jhiTranslate="lineGatewayApp.mO.home.title">MOS</span>
        <button class="btn btn-primary float-right create-mo" [routerLink]="['/', { outlets: { popup: ['mo-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="lineGatewayApp.mO.home.createLabel">
            Create new MO
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="mOS">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="lineGatewayApp.mO.code">Code</span></th>
            <th><span jhiTranslate="lineGatewayApp.mO.date">Date</span></th>
            <th><span jhiTranslate="lineGatewayApp.mO.status">Status</span></th>
            <th><span jhiTranslate="lineGatewayApp.mO.description">Description</span></th>
            <th><span jhiTranslate="lineGatewayApp.mO.line">Line</span></th>
            <th><span jhiTranslate="lineGatewayApp.mO.mOCustomProduct">M O Custom Product</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mO of mOS ;trackBy: trackId">
                <td><a [routerLink]="['../mo', mO.id ]">{{mO.id}}</a></td>
                <td>{{mO.code}}</td>
                <td>{{mO.date | date:'mediumDate'}}</td>
                <td>{{mO.status}}</td>
                <td>{{mO.description}}</td>
                <td>
                    <div *ngIf="mO.line">
                        <a [routerLink]="['../line', mO.line?.id ]" >{{mO.line?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let mOCustomProduct of mO.mOCustomProducts; let last = last">
                            <a class="form-control-static" [routerLink]="['../mo-custom-product', mOCustomProduct?.id ]">{{mOCustomProduct.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../mo', mO.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mo/'+ mO.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mo/'+ mO.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
