<div class="form-group">
    <label for="id" class="col-md-1 col-form-label">{{'product'|translate}}</label>
    <div class="col-md-1">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdown-products" ngbDropdownToggle>{{manufacturingOrderProduct.product.code}}</button>
            <div class="dropdown-menu" aria-labelledby="dropdown-products" >
                <button class="dropdown-item" *ngFor="let product of products" (click)="manufacturingOrderProduct.product = product" >{{product.code}}</button>
            </div>
        </div>
    </div>
    <label for="width" class="col-md-1 col-form-label">{{'width'|translate}}</label>
    <div class="col-md-2">
        <input class="form-control" type="search" id="width" [(ngModel)]="manufacturingOrderProduct.width" (change)="update(manufacturingOrderProduct)" placeholder="{{'width'|translate}}">
    </div>
    <label for="height" class="col-md-1 col-form-label">{{'height'|translate}}</label>
    <div class="col-md-2">
        <input class="form-control" type="search" id="height" [(ngModel)]="manufacturingOrderProduct.height" (change)="update(manufacturingOrderProduct)" placeholder="{{'height'|translate}}">
    </div>
    <label for="quantity" class="col-md-1 col-form-label">{{'quantity'|translate}}</label>
    <div class="col-md-2">
        <input class="form-control" type="search" id="quantity" [(ngModel)]="manufacturingOrderProduct.quantity" (change)="update(manufacturingOrderProduct)" placeholder="{{'quantity'|translate}}">
    </div>
</div>