<app-message [message]="message"></app-message>
<div class="row">
    <div class="form-group">
        <label for="id" class="col-md-1 col-form-label">{{'product'|translate}}</label>
        <div class="col-md-2">
            <div ngbDropdown [up]="true" class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdown-products" ngbDropdownToggle>{{manufacturingOrderProduct.product.code}} - {{manufacturingOrderProduct.product.description}}</button>
                <div class="dropdown-menu" aria-labelledby="dropdown-products" >
                    <button class="dropdown-item" *ngFor="let product of products" (click)="manufacturingOrderProduct.product = product" >{{product.code}} - {{product.description}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" *ngIf="manufacturingOrderProduct.product.productType.hasWidth" >
        <label for="width" class="col-md-1 col-form-label">{{'width'|translate}}</label>
        <div class="col-md-1">
            <input class="form-control" type="search" id="width" [(ngModel)]="manufacturingOrderProduct.width" placeholder="{{'width'|translate}}">
        </div>
    </div>
    <div class="form-group" *ngIf="!manufacturingOrderProduct.product.productType.hasWidth" >
        <div class="col-md-2"></div>
    </div>
    <div class="form-group" *ngIf="manufacturingOrderProduct.product.productType.hasHeight">
        <label for="height" class="col-md-1 col-form-label">{{'height'|translate}}</label>
        <div class="col-md-1">
            <input class="form-control" type="search" id="height" [(ngModel)]="manufacturingOrderProduct.height" placeholder="{{'height'|translate}}">
        </div>
    </div>
    <div class="form-group" *ngIf="!manufacturingOrderProduct.product.productType.hasHeight" >
        <div class="col-md-2"></div>
    </div>
    <div class="form-group">
        <label for="quantity" class="col-md-1 col-form-label">{{'quantity'|translate}}</label>
        <div class="col-md-1">
            <input class="form-control" type="search" id="quantity" [(ngModel)]="manufacturingOrderProduct.quantity" placeholder="{{'quantity'|translate}}">
        </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-secondary pull-right fa fa-check" (click)="add(manufacturingOrderProduct)"></button>
    </div>
</div>