<div class="card">
  <div class="card-block">
    <h5 class="card-title"><i class="fa fa-cubes"></i> {{'work-stations'|translate}}</h5>
    <hr/>
    <app-message [message]="message"></app-message>
    <div class="container-fluid">
      <app-list 
        [inputComponent]="this" 
        [inputColumns]="workStationColumns" 
        [inputRecords]="workStations" 
        [inputRecordActions]="workStationRecordActions"
        [inputHeaderActions]="workStationHeaderActions"
      ></app-list>
    </div>
  </div>
</div>