<div class="card">
  <div class="card-block">
    <h5 class="card-title">{{'manufacturing-orders'|translate}}</h5>
    <hr/>
    <app-message [message]="message"></app-message>
    <div class="container-fluid">
      <div class="row table-header" >
        <div class="col-md-2">
          {{'line'|translate}}
        </div>
        <div class="col-md-4">
          {{'code'|translate}}
        </div>
        <div class="col-md-2">
          {{'date'|translate}}
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-secondary pull-right fa fa-plus" (click)="create()"></button>
        </div>
      </div>
      <div class="row table-content" *ngFor="let manufacturingOrder of manufacturingOrders" >
        <div class="col-md-2">
          {{manufacturingOrder.line.name}}
        </div>
        <div class="col-md-4">
          {{manufacturingOrder.code}}
        </div>
        <div class="col-md-2">
          {{manufacturingOrder.date | date : "dd-MM-yyyy"}}
        </div>
        <div class="col-md-4 pull-right">
          <button type="button" class="btn btn-secondary pull-right fa fa-trash" (click)="remove(manufacturingOrder)"></button>
          <button type="button" class="btn btn-secondary pull-right fa fa-pencil" (click)="edit(manufacturingOrder)"></button>
          <button [hidden]="manufacturingOrder.status != 0" type="button" class="btn btn-secondary pull-right fa fa-gears" (click)="send(manufacturingOrder)"></button>
        </div>
      </div>
    </div>
  </div>
</div>