<div>
    <h2>
        <span jhiTranslate="sfi2App.manufacturingOrder.home.title">Manufacturing Orders</span>
        <!--
        <button class="btn btn-primary float-right jh-create-entity create-manufacturing-order" [routerLink]="['/', { outlets: { popup: ['manufacturing-order-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sfi2App.manufacturingOrder.home.createLabel">
            Create new Manufacturing Order
            </span>
        </button>
        -->
        <button class="btn btn-primary float-right jh-create-entity create-manufacturing-order" [routerLink]="['/', { outlets: { popup: ['manufacturing-order-full-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sfi2App.manufacturingOrder.home.createFullLabel">
            Create new Full Manufacturing Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="manufacturingOrders">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sfi2App.manufacturingOrder.code">Code</span></th>
            <th><span jhiTranslate="sfi2App.manufacturingOrder.orderDate">Order Date</span></th>
            <th><span jhiTranslate="sfi2App.manufacturingOrder.status">Status</span></th>
            <th><span jhiTranslate="sfi2App.manufacturingOrder.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let manufacturingOrder of manufacturingOrders ;trackBy: trackId">
                <td><a [routerLink]="['../manufacturing-order', manufacturingOrder.id ]">{{manufacturingOrder.id}}</a></td>
                <td>{{manufacturingOrder.code}}</td>
                <td>{{manufacturingOrder.orderDate | date:'medium'}}</td>
                <td>{{manufacturingOrder.status}}</td>
                <td>{{manufacturingOrder.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../manufacturing-order', manufacturingOrder.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'manufacturing-order-full/'+ manufacturingOrder.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'manufacturing-order/'+ manufacturingOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'manufacturing-order/'+ manufacturingOrder.id + '/send'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm" *ngIf="manufacturingOrder.status==0" >
                            <span class="fa fa-cogs"></span>
                            <span class="d-none d-md-inline" jhiTranslate="sfi2App.manufacturingOrder.send.send">Send</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
