<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myManufacturingOrderLabel" jhiTranslate="sfi2App.manufacturingOrder.home.createOrEditLabel">Create or edit a Manufacturing Order</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <input type="hidden" id="id" name="id" [(ngModel)]="manufacturingOrder.id" />
        <div class='row'>
            <div class='col-md-6'>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sfi2App.manufacturingOrder.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="manufacturingOrder.code" required/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class='col-md-6'>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sfi2App.manufacturingOrder.orderDate" for="field_orderDate">Order Date</label>
                    <div class="d-flex">
                        <input id="field_orderDate" type="datetime-local" class="form-control" name="orderDate" [(ngModel)]="manufacturingOrder.orderDate"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.orderDate?.dirty && editForm.controls.orderDate?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.orderDate?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.orderDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sfi2App.manufacturingOrder.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                        [(ngModel)]="manufacturingOrder.status" required/>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.status?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class='col-md-6'>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sfi2App.manufacturingOrder.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="manufacturingOrder.description" />
                </div>
            </div>
        </div>
        <div class="modal-header">
            <h4 class="modal-title" jhiTranslate="sfi2App.manufacturingOrder.products.products">Products</h4>
            <button type="button" class="btn btn-info btn-sm" (click)="addProduct()">
                <span class="fa fa-eye"></span>
                <span class="d-none d-md-inline" jhiTranslate="sfi2App.manufacturingOrder.products.add.product">Add Product</span>
            </button>
        </div>
        <div class="table-responsive" *ngIf="products">
            <div *ngFor="let product of products ;trackBy: trackId; let productPosition = index;">
                <div class="modal-header">
                    <h5 class="modal-title" jhiTranslate="sfi2App.manufacturingOrder.products.product">Product</h5>
                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteProduct(productPosition)" >
                        <span class="fa fa-remove"></span>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                    <button type="button" class="btn btn-info btn-sm" (click)="addSupply(product)">
                        <span class="fa fa-eye"></span>
                        <span class="d-none d-md-inline" jhiTranslate="sfi2App.manufacturingOrder.supplies.add.supply">Add Supply</span>
                    </button>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span jhiTranslate="sfi2App.manufacturingOrder.supplies.supply">Supply</span></th>
                        <th><span jhiTranslate="sfi2App.manufacturingOrder.supplies.atributes">Attributes</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let supply of product.supplies ;trackBy: trackId; let supplyPosition = index;">
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="field_supply" name="supply" (change)="onChangeSupply($event.target.value, productPosition, supplyPosition)" required>
                                    <option ></option>
                                    <option [selected]="supplyOption.id === supply.id" [value]="supplyOption.id" *ngFor="let supplyOption of supplies; trackBy: trackSupplyById">{{supplyOption.name}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="form-group col-md-3" *ngFor="let stAttribute of supply?.supplyType?.stattributes ;trackBy: trackId">
                                    <input 
                                        id="attributeValues[{{productPosition}}][{{supplyPosition}}]['{{stAttribute.name}}']" 
                                        name="attributeValues[{{productPosition}}][{{supplyPosition}}]['{{stAttribute.name}}']" 
                                        type="input" class="form-control" 
                                        placeholder="{{stAttribute.name}}" 
                                        [(ngModel)]="attributeValues[productPosition][supplyPosition][stAttribute.name]"
                                        required/>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="button" (click)="deleteSupply(productPosition, supplyPosition)" class="btn btn-danger btn-sm">
                                    <span class="fa fa-remove"></span>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
