<div class="card">
    <div class="card-block">
        <h6 class="card-title">{{'work-station'|translate}}</h6>
        <hr/>
        <app-message [message]="message"></app-message>
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="dropdownPrevious">{{'previous'|translate}}</label>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownPrevious" ngbDropdownToggle>{{prevWorkStation.name}}</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownPrevious" >
                            <button class="dropdown-item" *ngFor="let workStation of workStations" (click)="prevWorkStation = workStation" >{{workStation.name}}</button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="dropdownCurrent">{{'current'|translate}}</label>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownCurrent" ngbDropdownToggle>{{currentWorkStation.name}}</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownCurrent" >
                            <button class="dropdown-item" *ngFor="let workStation of workStations" (click)="currentWorkStation = workStation">{{workStation.name}}</button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="dropdownNext">{{'next'|translate}}</label>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownNext" ngbDropdownToggle>{{nextWorkStation.name}}</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownNext" >
                            <button class="dropdown-item" *ngFor="let workStation of workStations" (click)="nextWorkStation = workStation">{{workStation.name}}</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-secondary pull-right fa fa-check" (click)="addWorkStation(prevWorkStation, currentWorkStation, nextWorkStation)"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <app-workstation-product-types 
                        [inputClean]="cleanProductTypes"
                        [inputProductTypes]="workStationConfiguration.productTypes" 
                        (outputProductTypes)="setProductTypes($event)"></app-workstation-product-types>
                </div>
                <div class="col-md-6">
                    <app-workstation-users 
                        [inputClean]="cleanUsers" 
                        [inputUsers]="workStationConfiguration.users" 
                        (outputUsers)="setUsers($event)"></app-workstation-users>
                </div>
            </div>
        </div>
    </div>
</div>