<div class="card">
    <div class="card-block">
        <h6 class="card-title">{{'work-stations'|translate}}</h6>
        <hr/>
        <app-message [message]="message"></app-message>
        <div class="container-fluid">
            <div class="row table-header" >
                <div class="col-md-2">
                    {{'current'|translate}}
                </div>
                <div class="col-md-1">
                    {{'first'|translate}}
                </div>
                <div class="col-md-1">
                    {{'last'|translate}}
                </div>
                <div class="col-md-2">
                    {{'previous'|translate}}
                </div>
                <div class="col-md-2">
                    {{'next'|translate}}
                </div>
                <div class="col-md-1">
                    {{'products'|translate}}
                </div>
                <div class="col-md-1">
                    {{'users'|translate}}
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-secondary pull-right fa fa-plus" (click)="create()"></button>
                </div>
            </div>
            <div class="row table-content" *ngFor="let workStationConfiguration of workStationConfigurations" >
                <div class="col-md-2">
                    {{workStationConfiguration.workStation.name}}
                </div>
                <div class="col-md-1 text-md-center">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" [(ngModel)]="workStationConfiguration.first" class="custom-control-input" readonly>
                        <span class="custom-control-indicator"></span>
                    </label>
                </div>
                <div class="col-md-1 text-md-center">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" [(ngModel)]="workStationConfiguration.last" class="custom-control-input" readonly>
                        <span class="custom-control-indicator"></span>
                    </label>
                </div>
                <div class="col-md-2">
                    {{workStationConfiguration.prevWorkStation?.name}}
                </div>
                <div class="col-md-2">
                    {{workStationConfiguration.nextWorkStation?.name}}
                </div>
                <div class="col-md-1">
                    <div *ngFor="let productType of workStationConfiguration.productTypes">
                        {{productType.name}}
                    </div>
                </div>
                <div class="col-md-1">
                    <div *ngFor="let user of workStationConfiguration.users">
                        {{user.name}}
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-secondary pull-right fa fa-trash" (click)="remove(workStationConfiguration)"></button>
                    <button type="button" class="btn btn-secondary pull-right fa fa-pencil" (click)="edit(workStationConfiguration)"></button>
                </div>
            </div>
        </div>
    </div>
</div>
