
<div *ngIf="mOCustomProduct">
    <h2><span jhiTranslate="lineGatewayApp.mOCustomProduct.detail.title">MO Custom Product</span> {{mOCustomProduct.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="lineGatewayApp.mOCustomProduct.description">Description</span></dt>
        <dd>
            <span>{{mOCustomProduct.description}}</span>
        </dd>
        <dt><span jhiTranslate="lineGatewayApp.mOCustomProduct.mOProduct">M O Product</span></dt>
        <dd>
            <span *ngFor="let mOProduct of mOCustomProduct.mOProducts; let last = last">
                <a [routerLink]="['/mo-product', mOProduct?.id ]">{{mOProduct.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'mo-custom-product/'+ mOCustomProduct.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
