<div class="card">
    <div class="card-block">
    	<div class="row">
    		<div class="col-md-4">
        		<h5 class="card-title"><i class="fa fa-wrench"></i> {{line.name}} - {{workStation.name}}</h5>
        	</div>
            <div class="col-md-6">
                <h5 class="card-title">{{'average' | translate}}: {{average}} {{'min'|translate}}</h5>
            </div>
        	<div class="col-md-2">
        		<button type="button" class="btn btn-secondary fa fa-clock-o pull-right" (click)="workStationDelay(line, workStation)"></button>
        	</div>
    	</div>
        <hr/>
        <div class="container-fluid">
            <app-trace-detail [inputTrace]="selectedTrace" [inputTracesToBeFinished]="selectedTracesToBeFinished" (outputTraces)="activeTraces($event)"></app-trace-detail>
            <div *ngIf="selectedTrace?.delays.length < 0" >
            	<hr/>
            	<h6 class="card-title">{{'delays'|translate}}</h6>
            	<app-delay-list [inputDelays]="selectedTrace.delays"></app-delay-list>
            </div>
            <hr/>
            <app-trace-list [reload]="selectedTraces" (outputTraces)="activeTraces($event)" (outputFinishTraces)="finishTraces($event)"></app-trace-list>
        </div>
    </div>
</div>