
<div *ngIf="delay">
    <h2><span jhiTranslate="lineGatewayApp.delay.detail.title">Delay</span> {{delay.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="lineGatewayApp.delay.startDate">Start Date</span></dt>
        <dd>
            <span>{{delay.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="lineGatewayApp.delay.endDate">End Date</span></dt>
        <dd>
            <span>{{delay.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="lineGatewayApp.delay.time">Time</span></dt>
        <dd>
            <span>{{delay.time}}</span>
        </dd>
        <dt><span jhiTranslate="lineGatewayApp.delay.description">Description</span></dt>
        <dd>
            <span>{{delay.description}}</span>
        </dd>
        <dt><span jhiTranslate="lineGatewayApp.delay.delayType">Delay Type</span></dt>
        <dd>
            <div *ngIf="delay.delayType">
                <a [routerLink]="['/delay', delay.delayType?.id]">{{delay.delayType?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'delay/'+ delay.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
