<nav class="sidebar">
    <ul class="list-group">
        <a [routerLink]="['users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-group"></i> {{'users'|translate}}
        </a>
		<a [routerLink]="['workStations']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-group"></i> {{'work-stations'|translate}}
        </a>
        <a [routerLink]="['products']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-group"></i> {{'products'|translate}} 
        </a>
        <a [routerLink]="['productTypes']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-group"></i> {{'product-types'|translate}}
        </a>
        <a [routerLink]="['lines']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-group"></i> {{'lines'|translate}} 
        </a>
        <a [routerLink]="['manufacturingOrders']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-group"></i> {{'manufacturing-orders'|translate}} 
        </a>
        <a [routerLink]="['trace']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-group"></i> {{'trace-screen'|translate}} 
        </a>
    </ul>
</nav>