<div class="card">
    <div class="card-header">
        {{'product-type'|translate}}
        <button type="button" class="btn btn-secondary pull-right fa fa-check" (click)="save()"></button>
    </div>
    <div class="card-block">
        <div class="container-fluid">
            <div class="form-group row">
                <label for="name" class="col-xs-2 col-form-label">{{'name'|translate}}</label>
                <div class="col-xs-10">
                    <input class="form-control" type="search" id="name" [(ngModel)]="productType.name" placeholder="{{'name'|translate}}">
                </div>
            </div>
        </div>
    </div>
</div>