<div>
    <h2>
        <span jhiTranslate="sfi2App.tracer.home.title">Tracers</span>
        <button class="btn btn-primary float-right jh-create-entity create-tracer" [routerLink]="['/', { outlets: { popup: ['tracer-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sfi2App.tracer.home.createLabel">
            Create new Tracer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tracers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="sfi2App.tracer.line">Line</span></th>
            <th><span jhiTranslate="sfi2App.tracer.code">Code</span></th>
            <th><span jhiTranslate="sfi2App.tracer.inTime">In Time</span></th>
            <th><span jhiTranslate="sfi2App.tracer.startTime">Start Time</span></th>
            <th><span jhiTranslate="sfi2App.tracer.endTime">End Time</span></th>
            <th><span jhiTranslate="sfi2App.tracer.manufacturingOrder">Manufacturing Order</span></th>
            <th><span jhiTranslate="sfi2App.tracer.moProduct">Mo Product</span></th>
            <th><span jhiTranslate="sfi2App.tracer.workStation">WorkStation</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tracer of tracers ;trackBy: trackId">
                <td>
                    <div *ngIf="tracer.line">
                        <a [routerLink]="['../line', tracer.line?.id ]" >{{tracer.line?.name}}</a>
                    </div>
                </td>
                <td>{{tracer.code | smallUUID }}</td>
                <td>{{tracer.inTime | date:'medium'}}</td>
                <td>{{tracer.startTime | date:'medium'}}</td>
                <td>{{tracer.endTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="tracer.manufacturingOrder">
                        <a [routerLink]="['../manufacturing-order', tracer.manufacturingOrder?.id ]" >{{tracer.manufacturingOrder?.code}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracer.moProduct">
                        <a [routerLink]="['../mo-product', tracer.moProduct?.id ]" >{{tracer.moProduct?.product?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracer.workStation">
                        <a [routerLink]="['../workStation', tracer.workStation?.id ]" >{{tracer.workStation?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tracer', tracer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tracer/start/'+ tracer.id } }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-cogs"></span>
                            <span class="hidden-md-down" jhiTranslate="sfi2App.tracer.start.start">Start</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
