<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTracerLabel" jhiTranslate="sfi2App.tracer.home.createOrEditLabel">Create or edit a Tracer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tracer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tracer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi2App.tracer.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="tracer.code" required/>
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi2App.tracer.inTime" for="field_inTime">In Time</label>
            <div class="d-flex">
                <input id="field_inTime" type="datetime-local" class="form-control" name="inTime" [(ngModel)]="tracer.inTime"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.inTime?.dirty && editForm.controls.inTime?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.inTime?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.inTime?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi2App.tracer.startTime" for="field_startTime">Start Time</label>
            <div class="d-flex">
                <input id="field_startTime" type="datetime-local" class="form-control" name="startTime" [(ngModel)]="tracer.startTime"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi2App.tracer.endTime" for="field_endTime">End Time</label>
            <div class="d-flex">
                <input id="field_endTime" type="datetime-local" class="form-control" name="endTime" [(ngModel)]="tracer.endTime"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi2App.tracer.time" for="field_time">Time</label>
            <input type="number" class="form-control" name="time" id="field_time"
                [(ngModel)]="tracer.time" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi2App.tracer.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                [(ngModel)]="tracer.status" required/>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.status?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi2App.tracer.wsConfiguration" for="field_wsConfiguration">Ws Configuration</label>
            <select class="form-control" id="field_wsConfiguration" name="wsConfiguration" [(ngModel)]="tracer.wsConfiguration"  required>
                <option *ngIf="!editForm.value.wsConfiguration" [ngValue]="null" selected></option>
                <option [ngValue]="wSConfigurationOption.id === tracer.wsConfiguration?.id ? tracer.wsConfiguration : wSConfigurationOption" *ngFor="let wSConfigurationOption of wsconfigurations; trackBy: trackWSConfigurationById">{{wSConfigurationOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.wsConfiguration?.dirty && editForm.controls.wsConfiguration?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.wsConfiguration?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi2App.tracer.manufacturingOrder" for="field_manufacturingOrder">Manufacturing Order</label>
            <select class="form-control" id="field_manufacturingOrder" name="manufacturingOrder" [(ngModel)]="tracer.manufacturingOrder"  required>
                <option *ngIf="!editForm.value.manufacturingOrder" [ngValue]="null" selected></option>
                <option [ngValue]="manufacturingOrderOption.id === tracer.manufacturingOrder?.id ? tracer.manufacturingOrder : manufacturingOrderOption" *ngFor="let manufacturingOrderOption of manufacturingorders; trackBy: trackManufacturingOrderById">{{manufacturingOrderOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.manufacturingOrder?.dirty && editForm.controls.manufacturingOrder?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.manufacturingOrder?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi2App.tracer.moProduct" for="field_moProduct">Mo Product</label>
            <select class="form-control" id="field_moProduct" name="moProduct" [(ngModel)]="tracer.moProduct"  required>
                <option *ngIf="!editForm.value.moProduct" [ngValue]="null" selected></option>
                <option [ngValue]="mOProductOption.id === tracer.moProduct?.id ? tracer.moProduct : mOProductOption" *ngFor="let mOProductOption of moproducts; trackBy: trackMOProductById">{{mOProductOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.moProduct?.dirty && editForm.controls.moProduct?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.moProduct?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi2App.tracer.line" for="field_line">Line</label>
            <select class="form-control" id="field_line" name="line" [(ngModel)]="tracer.line"  required>
                <option *ngIf="!editForm.value.line" [ngValue]="null" selected></option>
                <option [ngValue]="lineOption.id === tracer.line?.id ? tracer.line : lineOption" *ngFor="let lineOption of lines; trackBy: trackLineById">{{lineOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.line?.dirty && editForm.controls.line?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.line?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi2App.tracer.workStation" for="field_workStation">Work Station</label>
            <select class="form-control" id="field_workStation" name="workStation" [(ngModel)]="tracer.workStation"  required>
                <option *ngIf="!editForm.value.workStation" [ngValue]="null" selected></option>
                <option [ngValue]="workStationOption.id === tracer.workStation?.id ? tracer.workStation : workStationOption" *ngFor="let workStationOption of workstations; trackBy: trackWorkStationById">{{workStationOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.workStation?.dirty && editForm.controls.workStation?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.workStation?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi2App.tracer.prevWorkStation" for="field_prevWorkStation">Prev Work Station</label>
            <select class="form-control" id="field_prevWorkStation" name="prevWorkStation" [(ngModel)]="tracer.prevWorkStation" >
                <option [ngValue]="null"></option>
                <option [ngValue]="workStationOption.id === tracer.prevWorkStation?.id ? tracer.prevWorkStation : workStationOption" *ngFor="let workStationOption of workstations; trackBy: trackWorkStationById">{{workStationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi2App.tracer.nextWorkStation" for="field_nextWorkStation">Next Work Station</label>
            <select class="form-control" id="field_nextWorkStation" name="nextWorkStation" [(ngModel)]="tracer.nextWorkStation" >
                <option [ngValue]="null"></option>
                <option [ngValue]="workStationOption.id === tracer.nextWorkStation?.id ? tracer.nextWorkStation : workStationOption" *ngFor="let workStationOption of workstations; trackBy: trackWorkStationById">{{workStationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi2App.tracer.nextTracer" for="field_nextTracer">Next Tracer</label>
            <select class="form-control" id="field_nextTracer" name="nextTracer" [(ngModel)]="tracer.nextTracer" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tracerOption.id === tracer.nextTracer?.id ? tracer.nextTracer : tracerOption" *ngFor="let tracerOption of tracers; trackBy: trackTracerById">{{tracerOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sfi2App.tracer.prevTracer" for="field_prevTracer">Prev Tracer</label>
            <select class="form-control" id="field_prevTracer" name="prevTracer" [(ngModel)]="tracer.prevTracer" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tracerOption.id === tracer.prevTracer?.id ? tracer.prevTracer : tracerOption" *ngFor="let tracerOption of tracers; trackBy: trackTracerById">{{tracerOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
