<div class="card">
    <div class="card-block">
        <app-message [message]="message"></app-message>
        <div class="container-fluid">
            <div class="row">
                <app-manufacturing-order-product-detail 
                    [inputManufacturingOrderProduct]="manufacturingOrderProduct" 
                    (outputManufacturingOrderProduct)="setManufacturingOrderProduct($event)">
                    </app-manufacturing-order-product-detail>
            </div>
        </div>
    </div>
</div>
