<app-message [message]="message"></app-message>
<div class="row">
    <div class="form-group">
        <label for="code" class="col-md-2 col-form-label">{{'code'|translate}}</label>
        <div class="col-md-9">
            <input class="form-control" type="text" id="code" [(ngModel)]="code" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-1">
            <button type="button" class="btn btn-secondary pull-right fa fa-search" (click)="selectByCode(code)"></button>
        </div>
    </div>
</div>
<hr/>
<div class="row table-header">
    <div class="col-md-2">
        {{'manufacturing-order'|translate}}
    </div>
    <div class="col-md-4">
        {{'product'|translate}}
    </div>
    <div class="col-md-1">
        {{'width'|translate}}
    </div>
    <div class="col-md-1">
        {{'height'|translate}}
    </div>
    <div class="col-md-1">
        {{'status'|translate}}
    </div>
    <div class="col-md-3 pull-right">
    </div>
</div>
<div class="row table-content" *ngFor="let trace of traces">
    <div class="col-md-2">
        {{trace.manufacturingOrder.code}}
    </div>
    <div class="col-md-4">
        {{trace.manufacturingOrderProduct.product.description}}
    </div>
    <div class="col-md-1">
        {{trace.manufacturingOrderProduct.width}}
    </div>
    <div class="col-md-1">
        {{trace.manufacturingOrderProduct.height}}
    </div>
    <div class="col-md-1">
        {{trace.status }}
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-secondary fa fa-wrench pull-right" (click)="activate(trace)"></button>
        <button type="button" class="btn btn-secondary fa fa-clock-o pull-right" (click)="delay(trace)"></button>
    </div>
</div>
<template ngbModalContainer></template>
