<div class="card">
    <div class="card-header">
        {{'line'|translate}}
        <button type="button" class="btn btn-secondary pull-right fa fa-check" (click)="save()"></button>
    </div>
    <div class="card-block">
        <div class="container-fluid">
            <div class="row">
                <div class="form-group">
                    <label for="name" class="col-md-2 col-form-label">{{'name'|translate}}</label>
                    <div class="col-md-4">
                        <input class="form-control" type="search" id="name" [(ngModel)]="line.name" placeholder="{{'someName'}}">
                    </div>
                </div>
            </div>

            <app-workstation-configuration class="row" [inputWorkStationConfigurations]="line.workStationConfigurations" (outputWorkStationConfigurations)="addWorkStationConfigurations($event)"></app-workstation-configuration>
            
        </div>
    </div>
</div>