<div class="card">
    <div class="card-block">
        <h5 class="card-title"><i class="fa fa-code-fork"></i> {{'line'|translate}}</h5>
        <hr/>
        <app-message [message]="message"></app-message>
        <div class="container-fluid">
            <div class="row">
                <div class="form-group">
                    <label for="name" class="col-md-2 col-form-label">{{'name'|translate}}</label>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="name" [(ngModel)]="line.name" placeholder="{{'name'}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-secondary fa fa-check pull-right" (click)="save()"></button>
                        <button type="button" class="btn btn-secondary fa fa-close pull-right" (click)="back()"></button>
                    </div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <app-workstation-configuration 
                [inputWorkStationConfigurations]="line.workStationConfigurations" 
                (outputWorkStationConfigurations)="addWorkStationConfigurations($event)"></app-workstation-configuration>
            
        </div>
    </div>
</div>