<div>
    <h2>
        <span jhiTranslate="lineGatewayApp.tracing.home.title">Tracings</span>
        <button class="btn btn-primary float-right create-tracing" [routerLink]="['/', { outlets: { popup: ['tracing-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="lineGatewayApp.tracing.home.createLabel">
            Create new Tracing
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tracings">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="lineGatewayApp.tracing.code">Code</span></th>
            <th><span jhiTranslate="lineGatewayApp.tracing.inTime">In Time</span></th>
            <th><span jhiTranslate="lineGatewayApp.tracing.startTime">Start Time</span></th>
            <th><span jhiTranslate="lineGatewayApp.tracing.time">Time</span></th>
            <th><span jhiTranslate="lineGatewayApp.tracing.status">Status</span></th>
            <th><span jhiTranslate="lineGatewayApp.tracing.mO">M O</span></th>
            <th><span jhiTranslate="lineGatewayApp.tracing.line">Line</span></th>
            <th><span jhiTranslate="lineGatewayApp.tracing.wS">W S</span></th>
            <th><span jhiTranslate="lineGatewayApp.tracing.nextWS">Next WS</span></th>
            <th><span jhiTranslate="lineGatewayApp.tracing.prevWS">Prev WS</span></th>
            <th><span jhiTranslate="lineGatewayApp.tracing.mOProduct">M O Product</span></th>
            <th><span jhiTranslate="lineGatewayApp.tracing.mOCustomProduct">M O Custom Product</span></th>
            <th><span jhiTranslate="lineGatewayApp.tracing.nextTracing">Next Tracing</span></th>
            <th><span jhiTranslate="lineGatewayApp.tracing.prevTracing">Prev Tracing</span></th>
            <th><span jhiTranslate="lineGatewayApp.tracing.delay">Delay</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tracing of tracings ;trackBy: trackId">
                <td><a [routerLink]="['../tracing', tracing.id ]">{{tracing.id}}</a></td>
                <td>{{tracing.code}}</td>
                <td>{{tracing.inTime | date:'mediumDate'}}</td>
                <td>{{tracing.startTime | date:'mediumDate'}}</td>
                <td>{{tracing.time}}</td>
                <td>{{tracing.status}}</td>
                <td>
                    <div *ngIf="tracing.mO">
                        <a [routerLink]="['../mo', tracing.mO?.id ]" >{{tracing.mO?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracing.line">
                        <a [routerLink]="['../line', tracing.line?.id ]" >{{tracing.line?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracing.wS">
                        <a [routerLink]="['../ws', tracing.wS?.id ]" >{{tracing.wS?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracing.nextWS">
                        <a [routerLink]="['../ws', tracing.nextWS?.id ]" >{{tracing.nextWS?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracing.prevWS">
                        <a [routerLink]="['../ws', tracing.prevWS?.id ]" >{{tracing.prevWS?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracing.mOProduct">
                        <a [routerLink]="['../mo-product', tracing.mOProduct?.id ]" >{{tracing.mOProduct?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracing.mOCustomProduct">
                        <a [routerLink]="['../mo-custom-product', tracing.mOCustomProduct?.id ]" >{{tracing.mOCustomProduct?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracing.nextTracing">
                        <a [routerLink]="['../tracing', tracing.nextTracing?.id ]" >{{tracing.nextTracing?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tracing.prevTracing">
                        <a [routerLink]="['../tracing', tracing.prevTracing?.id ]" >{{tracing.prevTracing?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let delay of tracing.delays; let last = last">
                            <a class="form-control-static" [routerLink]="['../delay', delay?.id ]">{{delay.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tracing', tracing.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tracing/'+ tracing.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tracing/'+ tracing.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
